.pill {
  border: 3px solid #0033cc;
  margin-right: 10px;
  background-color: #151d26;
}

.logo {
  width: 180px;
  height: auto;
}

.text-desc {
  color: #d7d7d7;
}

.grayBorders {
  background-color: rgba(24, 67, 102, 0.78);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
