<nav class="navbar navbar-expand-lg navbar-dark header">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav ml-auto mt-3">
      <li class="nav-item mr-3">
        <a class="nav-link" routerLink="/" href="/">{{me}} </a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" routerLink="/cv" href="/cv">{{cv}} </a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-item nav-link" routerLink="#" href="#">{{portafolio}}</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-item nav-link" routerLink="#"href="#">{{ocio}}</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-item nav-link" routerLink="#"href="#">{{contacto}}</a>
      </li>
    </ul>
  </div>
</nav>
