<div class="card text-center bg-dark text-white">
    <img src="assets/img/headerFondo.jpg" style="max-height:260px" alt="...">
    <div class="card-body card-img-overlay">
      <div class="text-center">
          <img src="assets/img/yupe1.jpeg" width="150px"class="rounded-circle border border-white" alt="...">
        </div>
      <h5 class="card-title ">{{nombre}}</h5>
      <nav class="nav justify-content-center position-sticky ">
          <a class="nav-link text-sm-center bg-dark text-white nav-pills border border-white" href="#">{{cv}}</a>
          <a class="nav-link text-sm-center bg-dark text-white nav-pills border border-white" href="#">{{portafolio}}</a>
          <a class="nav-link text-sm-center bg-dark text-white nav-pills border border-white" href="#">{{ocio}}</a>
        </nav>
    </div>


  </div>

