<footer class="footer">
  <nav class="navbar pt-1 pb-1">
    <div class="d-flex justify-content-start ">
      <a
        class="nav-item nav-link"
        href="https://www.facebook.com/Yupee"
        target="_blank"
        ><img class="icon" alt="facebook" [src]="imagePathFacebook" />
      </a>
      <a class="nav-item nav-link" href="https://www.linkedin.com/in/gvelizr/" target="_blank"
        ><img class="icon" alt="linkedIn" [src]="imagePathLinkedin" />
      </a>
      <a class="nav-item nav-link" href="https://www.instagram.com/giusseppevr/" target="_blank"
        ><img class="icon" alt="instagram" [src]="imagePathInstagram" />
      </a>
  </div>
    <span class="navbar-text justify-content-end" style="color:#d5d5d5">{{
      footerText
    }}</span>
  </nav>
</footer>
