<footer class="footer">
  <nav class="navbar navbar-dark bg-dark justify-content-start pt-1 pb-1">
    <a
      class="nav-item nav-link navbar-nav"
      href="https://www.facebook.com/Yupee"
      ><img class="icon" alt="facebook" [src]="imagePathFacebook" />
    </a>
    <a class="nav-item nav-link" href="https://www.linkedin.com/in/gvelizr/"
      ><img class="icon" alt="linkedIn" [src]="imagePathLinkedin" />
    </a>
    <a class="nav-item nav-link" href="https://www.instagram.com/giusseppevr/"
      ><img class="icon" alt="instagram" [src]="imagePathInstagram" />
    </a>
    <span class="navbar-text ml-auto" style="color:#d5d5d5">{{
      footerText
    }}</span>
  </nav>
</footer>
