<div class="container-fluid grayBorders py-2" id="contacto">
  <div class="row">
    <h1 class="text-white mx-auto">{{'header.contact' | translate}}</h1>
  </div>
</div>
<div class="container py-4" id="contacto">
  <!-- contact -->
  <div class="container">
    <div class="col-12 col-md-8 mx-auto">
      <!-- <form> -->
        <div class="form-group">
          <label for="exampleInputPassword1">{{'main.contact.name' | translate}}</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="{{'main.contact.name' | translate}}">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">{{'main.contact.email' | translate}}</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{'main.contact.email' | translate}}">
          <small id="emailHelp" class="form-text text-muted">{{'main.contact.email-desc' | translate}}</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">{{'main.contact.message' | translate}}</label>
          <textarea class="form-control txtareaa" aria-label="With textarea" maxlength="355" placeholder="{{'main.contact.message' | translate}}" ></textarea>
        </div>
        <button disabled class="btn btn-primary">Enviar</button>
      <!-- </form> -->
    </div>
  </div>
</div>
