<div class="container-fluid grayBorders py-2" id="portafolio">
  <div class="row">
    <h1 class="text-white mx-auto">{{ "header.portafolio" | translate }}</h1>
  </div>
</div>
<div class="container py-5">
  <!-- portafolio -->
  <div class="row d-inline-flex m-1" *ngFor="let item of proyectos" style="width: 20rem;">
    <div class="card cardStyle">
      <div class="card-body">
        <h5 class="card-title border-bottom gray">
          {{ item.title | translate }}
        </h5>
        <p class="card-text text-justify">
          {{ item.desc | translate }}
        </p>
        <ng-container *ngIf="!!item.url">
          <a class="m-0 p-0" href="{{ item.url }}" target="_blank" rel="noopener">{{ item.url }}
          </a>
        </ng-container>
        <p class="card-text text-justify"></p>
        <img src="{{ item.img }}" class="card-img-top my-2" alt="..." />
        <button disabled class="btn btn-primary w-100">
          {{ "main.portafolio.seeMore" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
