<div class="container py-3">
  <div class="row p-2 pl-lg-0">
    <h1 class="text-white mx-auto">{{'header.me' | translate}}</h1>
  </div>
  <!-- aboutme -->
  <div class="row pt-3  no-gutters">
    <div class="col-sm-12 col-md-5 col-lg-5 my-auto">
      <img src="assets/img/yupe.jpg" alt="Giusseppe Veliz Rojas" class="yo shadow rounded-circle mx-auto d-block" />
    </div>
    <div class="col-sm-12 col-md-7 col-lg-7 my-auto">
      <div>
        <h4 class="text-muted">{{'main.me.title' | translate}}</h4>
        <h1 class="text-white">Giusseppe Veliz Rojas</h1>
        <p class="text-white-50">
          {{'main.me.desc' | translate}}
        </p>
      </div>
    </div>
  </div>
  <!-- tech -->
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-5 my-auto mb-3">
      <h3 class="text-white">{{'main.me.techs' | translate}}</h3>
    </div>
  </div>

  <div class="row p-3 no-gutters">
    <div class="p-2 my-auto" *ngFor="let item of techs">
      <img src="{{item.url}}" alt="{{item.nombre}}" height="auto" width="{{item.ancho}}" />
    </div>
  </div>
</div>
