<div class="container py-3">
  <div class="row p-2 pl-lg-0">
    <h1 class="text-white mx-auto">{{'header.portafolio' | translate}}</h1>
  </div>
  <!-- aboutme -->
  <div class="row justify-content-center">
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Shop</a>
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
              <h5 class="mt-0">Shop en Angular</h5>
              <p>Un sitio web muy simple que simula una tienda para vender tarjetas de video que contiene un listado de productos y un carrito de compras desarrollado en Angular</p>
              <a href="http://shop.yupee.cl" class="stretched-link mx-2">Shop</a>
             </div>
        </div>
      </div>
    </div>
</div>
